@model  List<SharedListTable>
@{
    int currentUserID = CacheHelper.CurrentUserID();
}
<div class="row my-4">
    @foreach (var item in Model)
    {
        <div class="col-sm-3 mb-5 d-flex justify-content-center">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        @if (item.List.listName.Length > 18)
                        {
                            <p title="@item.List.listName" class="title text-danger text-sm-center ">@item.List.listName.Substring(0, 15)...</p>
                        }
                        else
                        {
                            <p class="title text-danger">@item.List.listName</p>
                        }
                        <p>@@@item.Owner.Username</p>
                        @if (!item.List.listDescription.IsEmpty())
                        {
                            <p> @item.List.listDescription</p>
                        }
                        else
                        {
                            <p>-Açıklama Yok-</p>
                        }
                    </div>
                    <div class="flip-card-back ">
                        <label class="backListName mx-2 fs-5 text-center">@item.List.listName</label><hr />
                        <a href="/Liste-Yonetimi" title="Liste Yönetimi sayfasına gider" class="btn mx-5 my-2 " style="background: #5C8984">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
