@{
    int currentUserID = CacheHelper.CurrentUserID();

    SharedListManager slm = new SharedListManager();
    var list = slm.RelationList(currentUserID).OrderByDescending(x => x.Id);//sadece kullanıcın paylaştığı listeleri döner
}
<link href="~/Content/AlmondCss/ProfileLists.css" rel="stylesheet" />
<div class="row my-4">
    @foreach (var item in list)
    {
        <div class="col-sm-3 mb-5 d-flex justify-content-center">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        @if (item.List.listName.Length > 18)
                        {
                            <p title="@item.List.listName" class="title text-danger text-sm-center ">@item.List.listName.Substring(0, 15)...</p>
                        }
                        else
                        {
                            <p class="title text-danger">@item.List.listName</p>
                        }
                        <p>@@@item.Owner.Username</p>
                        @if (!item.List.listDescription.IsEmpty())
                        {
                            <p> @item.List.listDescription</p>
                        }
                        else
                        {
                            <p>@string.Empty</p>
                        }
                    </div>
                    <div class="flip-card-back ">
                        <label class="backListName mx-2 fs-5 text-center">@item.List.listName</label><hr />
                        <a href="/Liste-Yonetimi" title="Liste Yönetimi sayfasına gider" class="btn btn-dark mx-4 my-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                            </svg>
                            <label class="small">Düzenle</label>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
