@using AlmondWeb.Entities
@{
    ViewBag.Title = "PublicProfile";
    Layout = "~/Views/Shared/BaseLayout.cshtml";
    int currentUserID = CacheHelper.CurrentUserID();

    ProfileListManager lm = new ProfileListManager();
    List<ProfileListTable> list = lm.RelationList(currentUserID);//current user a ait dataları listeliyoruz.

    ProfileManager pm = new ProfileManager();
    var user = pm.FindwithExpression(x => x.Id == currentUserID);
}
<link href="~/Content/AlmondCss/PublicProfile.css" rel="stylesheet" />
<div class="row">
    <div class="col-sm-12 gx-0">
        <div class="profile">
            <div class="profile-header">
                <div class="profile-header-cover"></div>
                <div class="col-sm-3">
                    <div class="profile-header-content">
                        <div class="profile-header-img">
                            <img src="https://media.licdn.com/dms/image/D4D03AQHG7t_oX_6guA/profile-displayphoto-shrink_400_400/0/1666186436288?e=1696464000&v=beta&t=C1tn4PwprJVYdu_orxPoLxe5cmNEPmHJ5zIUtE_PgWM" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col-sm-3">
        <div class="profile-container">
            <div class="profile-sidebar">
                <div class="desktop-sticky-top">
                    <h4 class="text-start mx-5">@user.Owner.Name    @user.Owner.Surname</h4>
                    <div class="font-weight-600 mb-2 text-muted ms-5">@@@user.Owner.Username</div>
                    <p class="ms-5">
                        @user.aboutmeText
                    </p>
                    <div class="mb-3"><i class="fa fa-link ms-5 fa-fw text-muted"></i> <a class="text-dark" href="@user.websiteUrl">@user.websiteUrl</a></div>
                    <hr class="mb-4" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class=" w-100 gx-0 ">
            <div class="tabs justify-content-center">
                <input type="radio" class="tabs__radio" name="tabs-example" id="tab1" checked>
                <label for="tab1" class="tabs__label text-center">Listelerim</label>
                <div class="tabs__content">
                    @Html.Partial("Partials/_MyListPartial", list)
                </div>
                <input type="radio" class="tabs__radio" name="tabs-example" id="tab2">
                <label for="tab2" class="tabs__label text-center">Kaydettiğim Listeler</label>
                <div class="tabs__content">
                    @Html.Partial("Partials/_SavedListPartial")
                </div>
            </div>
        </div>
    </div>
</div>
