@model  AlmondWeb.Entities.AlmondDataTable
@{
    ViewBag.Title = "Veri Ekle";
    Layout = "~/Views/Shared/BaseLayout.cshtml";

    int currentUserID = CacheHelper.CurrentUserID();

    SharedListManager slm = new SharedListManager();
    var list = slm.ListwithExpression(x => !x.isDeleted && x.profileId == currentUserID);

    var selectList = new SelectList(list, "listId", "List.listName");//liste listesini viewdata ile gönderiyoruz.
}
<link href="~/Content/AlmondCss/veriekle.css" rel="stylesheet" />
<div>
    <div class="row mt-3">
        <div class="col-sm-4 ">
            <div class="form-container" style="padding-top:11px">
                <div class="col-sm-12 ">
                    @using (Ajax.BeginForm("AddData", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "adminlayout", InsertionMode = InsertionMode.ReplaceWith, OnSuccess = "onSuccess" }))
                    {
                        <div class="row-sm-3 form-group shadow-textarea textareas">
                            @Html.TextAreaFor(x => x.question, new { @class = "form-control z-depth-1 border border-dark-subtle", placeholder = "Soru", autofocus = "autofocus", title = "Soru", id = "exampleFormControlTextarea17", required = "required", maxlength = "250" })
                            <br>
                        </div>

                        <div class="row-sm-3 form-group shadow-textarea textareas ">
                            @Html.TextAreaFor(x => x.answer, new { @class = "form-control z-depth-1 border border-dark-subtle", placeholder = "Cevap", autofocus = "autofocus", title = "Cevap", id = "exampleFormControlTextarea16", required = "required", maxlength = "250" })
                            <br>
                        </div>

                        <div class="row-sm-3 mt-2">
                            <div class="col-sm-3 " style=" display: inline-block;width:80%">
                                @Html.DropDownListFor(x => x.List.Id, selectList, "Liste Seçiniz", new { @class = "form-select bg-white ", id = "liste-dropdown", required = "required", style = "max-width: 100%;" })
                            </div>
                        </div>

                        @Html.HiddenFor(x => x.Owner.Id, new { @id = "owner_hidden" })

                        <div class="row-sm-3 mt-2 mb-sm-2">
                            <button type="submit" id="submitbtn" onclick="setOwnerId('@currentUserID')" class="btn btn-success verieklebtn">Kaydet</button>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="col-sm-8 ">
            @Html.Action("FillTablewithData", "Home")
        </div>
    </div>
</div>
@section Scripts{
    <script>
        function setOwnerId(owner_id) {
            let ownerHidden = document.getElementById("owner_hidden");
            ownerHidden.setAttribute("value", owner_id);
        };

        function onSuccess() {
            toastrSuccess("Veri başarıyla eklendi.");
            let questionTextArea = $("#exampleFormControlTextarea17");
            let answerTextArea = $("#exampleFormControlTextarea16");
            questionTextArea.val("");
            answerTextArea.val("");
            questionTextArea.focus();

        }
        let _list = document.getElementById("liste-dropdown");
        _list.options[0].disabled = true;
    </script>
}