@model AlmondWeb.BusinessLayer.ViewModels.UserQueAnswListModel
@{
    ViewBag.Title = "Veri Güncelle";
    Layout = "~/Views/Shared/BaseLayout.cshtml";

    int currentUserID = CacheHelper.CurrentUserID();

    SharedListManager slm = new SharedListManager();
    var list = slm.ListwithExpression(x => !x.isDeleted && x.profileId == currentUserID);

    var selectList = new SelectList(list, "listId", "List.listName");//liste listesini viewdata ile gönderiyoruz
}

<link href="~/Content/AlmondCss/veriekle.css" rel="stylesheet" />
<div class="row mt-3">
    <div class="col-sm-4" style="padding-top:11px">
        <div class="form-container">
            <div class="col-sm-12 ">
                @using (Ajax.BeginForm("UpdateData", "Home", new AjaxOptions
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "adminlayout",
                    InsertionMode = InsertionMode.ReplaceWith,
                    OnSuccess = "onSuccess"//post işlemi başarı olduğunda çalışmasını istediğimiz js fonksiyonunun ismini buraya yazabiliriz.
                }))
                {
                    @Html.AntiForgeryToken()

                    <div class="row-sm-3 form-group shadow-textarea textareas">
                        @Html.TextAreaFor(x => x.question, new { @class = "form-control z-depth-1 border border-dark-subtle", placeholder = "Tablodan güncellemek istediğiniz veriyi kalem ikonuna tıklayarak seçiniz.", autofocus = "autofocus", title = "Soru", id = "exampleFormControlTextarea17", disabled = "disabled", required = "required" })
                        <br>
                    </div>

                    <div class="row-sm-3 form-group shadow-textarea textareas ">
                        @Html.TextAreaFor(x => x.answer, new { @class = "form-control z-depth-1 border border-dark-subtle", placeholder = "Seçtiğiniz veri otomatik olarak buraya gelecektir.", autofocus = "autofocus", title = "Cevap", id = "exampleFormControlTextarea16", disabled = "disabled", required = "required", minlenght = "2" })
                        <br>
                    </div>

                    <div class="row-sm-3 mt-2 gx-0">
                        <div class="col-sm-3" style=" display: inline-block;width:80%">
                            @Html.DropDownListFor(x => x.list_Id, selectList, "Liste Seçiniz", new { @class = "form-select bg-white ", id = "liste-dropdown", required = "required", style = "max-width: 100%;", disabled = "disabled" })
                        </div>
                        <button type="button" id="changeQueAnsw" title="Soru ve Cevap arasında yer değişimi yapar." disabled class="btn btn-outline-success" style="margin-bottom:4px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"></path>
                            </svg>
                        </button>
                    </div>

                    <div>
                        @Html.HiddenFor(x => x.update_Id, new { @id = "UpdateData_Id" })
                    </div>

                    <div class="row-sm-3 my-2">
                        <button type="submit" id="submitbtn" class="btn btn-success verieklebtn">Kaydet</button>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="col-sm-8">
        @Html.Action("FillTableDataForUpdate")
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/Jquery.ajax/UpdateDataAjax.js"></script>
}
