@model AlmondWeb.BusinessLayer.ViewModels.UserQueAnswListModel
@{
    ViewBag.Title = "Veri Güncelle";
    Layout = "~/Views/Shared/BaseLayout.cshtml";

    int currentUserID = CacheHelper.CurrentUserID();

    SharedListManager slm = new SharedListManager();
    var list = slm.ListwithExpression(x => !x.isDeleted && x.profileId == currentUserID);

    var selectList = new SelectList(list, "listId", "List.listName");//liste listesini viewdata ile gönderiyoruz
}

<link href="~/Content/AlmondCss/veriekle.css" rel="stylesheet" />
<div class="row mt-3">
    <div class="col-sm-4" style="padding-top:11px">
        <div class="form-container">
            <div class="col-sm-12 ">
                @using (Ajax.BeginForm("UpdateData", "Home", new AjaxOptions
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "adminlayout",
                    InsertionMode = InsertionMode.ReplaceWith,
                    OnSuccess = "onSuccess"//post işlemi başarı olduğunda çalışmasını istediğimiz js fonksiyonunun ismini buraya yazabiliriz.
                }))
                {
                    <div class="row-sm-3 form-group shadow-textarea textareas">
                        @Html.TextAreaFor(x => x.question, new { @class = "form-control z-depth-1 border border-dark-subtle", placeholder = "Tablodan güncellemek istediğiniz veriyi kalem ikonuna tıklayarak seçiniz.", autofocus = "autofocus", title = "Soru", id = "exampleFormControlTextarea17", disabled = "disabled", required = "required" })
                        <br>
                    </div>

                    <div class="row-sm-3 form-group shadow-textarea textareas ">
                        @Html.TextAreaFor(x => x.answer, new { @class = "form-control z-depth-1 border border-dark-subtle", placeholder = "Seçtiğiniz veri otomatik olarak buraya gelecektir.", autofocus = "autofocus", title = "Cevap", id = "exampleFormControlTextarea16", disabled = "disabled", required = "required", minlenght = "2" })
                        <br>
                    </div>

                    <div class="row-sm-3 mt-2">
                        <div class="col-sm-3 " style=" display: inline-block;width:80%">
                            @Html.DropDownListFor(x => x.list_Id, selectList, "Liste Seçiniz", new { @class = "form-select bg-white ", id = "liste-dropdown", required = "required", style = "max-width: 100%;", disabled = "disabled" })
                        </div>
                    </div>

                    <div>
                        @Html.HiddenFor(x => x.update_Id, new { @id = "UpdateData_Id" })
                    </div>

                    <div class="row-sm-3 mt-2">
                        <button type="submit" id="submitbtn" class="btn btn-success verieklebtn">Kaydet</button>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="col-sm-8">
        @Html.Action("FillTableDataForUpdate")
    </div>
</div>
<script src="~/Scripts/Jquery.ajax/UpdateDataAjax.js"></script>
