@{
    int counter = 0;
    int currentUserID = CacheHelper.CurrentUserID();

    DataManager dm = new DataManager();
    var myTableData = dm.ListwithExpression(x => x.Owner.Id == currentUserID && !x.isDeleted).OrderByDescending(x => x.Id);//current user a ait dataları puana göre artan şekilde listeliyoruz.

    SharedDataManager sdm = new SharedDataManager();
    List<SharedDataTable> savedTableData = sdm.ListwithExpression(x => x.SharedList.profileId == currentUserID);
}
<div id="adminlayout">
    <div class="tbl-header">
        <table style="width: 100%; text-align: center; margin-bottom: 0;" class="table table-hover table-bordered table-responsive">
            <thead class="bg-success bg-opacity-50">
                <tr>
                    <th class="text-center" width="5%">#</th>
                    <th class="text-center" width="35%">Soru</th>
                    <th class="text-center" width="35%">Cevap</th>
                    <th class="text-center" width="10%">Puan</th>
                    <th class="text-center" width="15%">Liste</th>
                </tr>
            </thead>
        </table>
    </div>
    <div style="width:100%;overflow:auto;  max-height:530px;">
        <table style="width:100%;" class="text-center table table-hover table-bordered table-responsive m-0">
            @if (myTableData.Count() == 0)
            {
                <tr>
                    <td>Kayıtlı veriniz bulunmamaktadır. Veri ekleyebilirsiniz.</td>
                </tr>
            }
            else
            {
                foreach (var item in myTableData)
                {
                    counter++;
                    <tr id="dataTable1">
                        <td class="text-center" width="5%">@counter</td>
                        <td class="text-center" width="35%">@item.question</td>
                        <td class="text-center" width="35%">@item.answer</td>
                        <td class="text-center" width="10%">@item.puan</td>
                        @if (item.List == null)
                        {
                            <td class="text-center" style="width:15%">NULL</td>
                        }
                        else
                        {
                            <td class="text-center" width="15%">@item.List.listName</td>
                        }
                    </tr>
                }
            }
        </table>
        <table style="width:100%;" class="text-center table table-hover table-bordered table-responsive">
            @if (savedTableData.Count() == 0)
            {
            }
            else
            {
                foreach (var item in savedTableData)
                {
                    counter++;
                    <tr id="dataTable1" class="table-secondary">
                        <td class="text-center" width="5%">@counter</td>
                        <td class="text-center" width="35%">@item.question</td>
                        <td class="text-center" width="35%">@item.answer</td>
                        <td class="text-center" width="10%">@item.puan</td>
                        <td class="text-center" width="15%">@item.SharedList.List.listName</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>

