
@{
    ViewBag.Title = "AllList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int counter = 0;
    ListManager lm = new ListManager();
    List<ListTable> allList = lm.List();

}

<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Liste Tablosu
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover text-center"
                                   id="dataTables-example">
                                <thead>
                                    @{counter++;}
                                    <tr>
                                        <th>#</th>
                                        <th>Sahibi</th>
                                        <th>Liste </th>
                                        <th>Kayıtlı Veri Adedi</th>
                                        <th>Durum</th>
                                        <th>Kaydedilme Sayısı</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in allList)
                                    {

                                        <tr class="odd gradeX">
                                            <td>@counter</td>
                                            <td>@item.Owner.Username</td>
                                            <td>@item.listName</td>
                                            <td>@item.DataTables.Count()</td>
                                            <td>@item.isPublic</td>
                                            <td>ayarlanacak</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
