@model AlmondWeb.BusinessLayer.ViewModels.RegisterModel
@{
    ViewBag.Title = "Şifremi Unuttum";
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}
<div class="row-sm-3">
    @Html.ValidationSummary(true)
</div>
@using (Html.BeginForm("ForgetPassword", "Home", "POST"))
{

    <div class="row" style="height:600px">
        <div class="col-sm-12">
            <div class="col-sm-4 offset-lg-4 ">
                <div class="form-floating row-sm-2">
                    @Html.TextBoxFor(x => x.password, new { @class = "form-control", id = "formGroupExampleInput", placeholder = "Şifre", type = "password" })
                    <label for="floatingPassword">Şifre </label>
                    <p class="text-danger text-sm-start" style="font-size: 13px;">@Html.ValidationMessageFor(x => x.password)</p>
                </div>
                <div class="form-floating row-sm-2">
                    @Html.TextBoxFor(x => x.password2, new { @class = "form-control", id = "formGroupExampleInput", placeholder = "Şifre(Tekrar)", type = "password" })
                    <label for="floatingPassword">Şifre (Tekrar)</label>
                    <p class="text-danger text-sm-start" style="font-size: 13px;">@Html.ValidationMessageFor(x => x.password2)</p>
                </div>
                <div class="row-sm-3 sumbitbutonudiv">
                    <button type="submit" class="btn btn-success form-control girisbutonu">Kayıt Ol</button>
                </div>
            </div>
        </div>
    </div>
}

