@model AlmondWeb.BusinessLayer.ViewModels.UserQueAnswListModel
﻿@using AlmondWeb.BusinessLayer
@using AlmondWeb.WebApp.CacheHelper
@{
    ViewBag.Title = "Veri Güncelle";
    Layout = "~/Views/Shared/BaseLayout.cshtml";

    int currentUserID = CacheHelper.CurrentUserID();

    ListManager lm = new ListManager();
    var list = lm.ListwithExpression(x => x.Owner.Id == currentUserID && !x.isDeleted && x.Id > 2);
    var selectList = new SelectList(list, "id", "listName");//liste listesini viewdata ile gönderiyoruz.
}

<link href="~/Content/AlmondCss/veriekle.css" rel="stylesheet" />
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<div class="row mb-5">
    <div class="col-sm-4" style="padding-top:11px">
        <div class="form-container">
            <div class="col-sm-12 ">
                @using (Ajax.BeginForm("UpdateData", "Home", new AjaxOptions
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "example",
                    InsertionMode = InsertionMode.ReplaceWith
                }))
                {
                    <div>
                        @Html.ValidationSummary(true)
                    </div>

                    <div class="row-sm-3 form-group shadow-textarea textareas">
                        @Html.TextAreaFor(x => x.question, new { @class = "form-control z-depth-1 border border-dark-subtle", placeholder = "Tablodan güncellemek istediğiniz veriyi kalem ikonuna tıklayarak seçiniz.", autofocus = "autofocus", title = "Soru", id = "exampleFormControlTextarea17" })
                        <p class="text-danger text-sm-start" style="font-size: 13px; display: inline-block">@Html.ValidationMessageFor(x => x.question)</p>
                        <br>
                    </div>

                    <div class="row-sm-3 form-group shadow-textarea textareas ">
                        @Html.TextAreaFor(x => x.answer, new { @class = "form-control z-depth-1 border border-dark-subtle", placeholder = "Seçtiğiniz veri otomatik olarak buraya gelecektir.", autofocus = "autofocus", title = "Cevap", id = "exampleFormControlTextarea16" })
                        <p class="text-danger text-sm-start" style="font-size: 13px; display: inline-block">@Html.ValidationMessageFor(x => x.answer)</p>
                        <br>
                    </div>

                    <div class="row-sm-3 mt-2">
                        <div class="col-sm-3 " style=" display: inline-block;width:80%">
                            @Html.DropDownListFor(x => x.list_Id, selectList, "Liste Seçiniz", new { @class = "form-select bg-white ", id = "liste-dropdown" })
                        </div>
                    </div>

                    <div>
                        @Html.HiddenFor(x => x.update_Id, new { @id = "UpdateData_Id" })
                    </div>

                    <div class="row-sm-3 mt-2">
                        <button type="submit" id="submitbtn" class="btn btn-success verieklebtn">Kaydet</button>
                    </div>
                }

            </div>
        </div>
    </div>

    <div class="col-sm-8">
        @Html.Action("FillTableDataForUpdate", new ViewDataDictionary
        {
            {"islemTuru","Güncelle" },
            {"islemturuLogosu","guncelle"}
        })
    </div>
</div>

