
@{
    ViewBag.Title = "Veri İşlemleri";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int counter = 0;
    DataManager dm = new DataManager();
    List<AlmondDataTable> dataList = dm.List();
}

<table class="table table-striped table-bordered table-hover text-center"
       id="dataTables-example">
    <thead>
        @{counter++;}
        <tr>
            <th>#</th>
            <th>Soru</th>
            <th>Cevap</th>
            <th>Liste</th>
            <th>Puan</th>
            <th>Sahibi</th>
            <th>Ekle</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in dataList)
        {
            <tr>
                <td>@counter</td>
                <td>@item.question</td>
                <td>@item.answer</td>
                @if (item.List.isDeleted)
                {
                    <td>NULL</td>
                }
                else
                {
                    <td>@item.List.listName</td>
                }
                <td>@item.puan</td>
                <td>@item.Owner.Username</td>
                <td class="text-center">
                    <a href="#" class="text-dark text-center" onclick="SaveData('@item.question','@item.answer')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                        </svg>
                    </a>
                </td>
                <td class="text-center">
                    <a href="#" class="text-dark text-center" onclick="PermanentDeleteData('@item.Id')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-octagon" viewBox="0 0 16 16">
                            <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z" />
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                </td>

            </tr>
        }
    </tbody>
</table>

<script>
    function SaveData(que, answ, listid) {
        $.ajax({
            method: "POST",
            url: '/Admin/AddDatatoAliList',
            data: { question: que, answer: answ },
            success: function (result) {
                InfoUserwithToastr(result, "Admin", "AllData", "Veri ilgili listeye kaydedildi.", "Veri ilgili listeye zaten kayıtlı olabilir.");
            }
        });
    }
    function PermanentDeleteData(dataid) {
        $.ajax({
            method: "POST",
            url: '/Admin/PermanentDeleteData',
            data: { dataId: dataid },
            success: function (result) {
                InfoUserwithToastr(result, "Admin", "AllData", "Veri başarılı bir şekilde silindi.", "Veri silinemedi.");
            }
        });
    }
</script>