@using AlmondWeb.Entities
@{
    Layout = null;

}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title | AlmondWeb</title>

    @* css *@
    <link href="~/Content/AlmondCss/index.css" rel="stylesheet" />
    <link href="~/Content/AlmondCss/navbar.css" rel="stylesheet" />
    <link href="~/Content/AlmondCss/footer.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/AlmondCss/shortcuts.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    @* js *@
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="~/Scripts/Jquery.ajax/showQuestionAnswer.js"></script>


</head>

<body>
    <div class="container-fluid">
        <!--start Navbar-->
        <div class="row">
            <div class="container-fluid">

                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <a class="navbar-brand" href="/Home/MainPage">
                        <img src="~/Images/logo/almondLogo1rmvbg.png" width="178px" alt="logoAlmond">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <nav class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            @{
                                if (User.Identity.IsAuthenticated)
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link active dropdown-toggle" id="navbarDropdown" href="#" role="button"
                                           data-bs-toggle="dropdown" aria-expanded="false">Veri İşlemleri</a>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" href="/Home/AddData">Veri Ekle</a></li>
                                            <li><a class="dropdown-item" href="/Home/UpdateData">Veri Güncelle</a></li>
                                            <li><a class="dropdown-item" href="/Home/DeleteData">Veri Sil</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown ">
                                        <a class="nav-link active" id="navbarDropdown" href="/Home/ListOperations">Liste İşlemleri</a>

                                    </li>
                                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="AllData">Verilerim</a></li>

                                }
                            }
                            @{
                                if (!User.Identity.IsAuthenticated)
                                {
                                    <li class="nav-item ">
                                        <a class="btn btn-outline-success " style="border-radius: 5px 0px 0px 5px;width: 120px;"
                                           href="/Home/Login" role="button">
                                            Giriş Yap
                                        </a>
                                        <button type="button" class="btn btn-lg btn-success dropdown-toggle dropdown-toggle-split"
                                                data-bs-toggle="dropdown" aria-expanded="false" style="margin-left: -5px;
                                                height: 37px;
                                                border-radius: 0px 5px 5px 0px;">
                                            <span class="visually-hidden">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown1">
                                            <li><a class="dropdown-item" href="/Home/Register">Kayıt Ol</a></li>
                                            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" href="#">Kısayollar ve SSS.</a></li>
                                            <li><a class="dropdown-item" href="/Home/Contact">İletişim</a></li>
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item ">
                                        <a class="btn btn-outline-success " style="border-radius: 5px 0px 0px 5px;width: 118px;"
                                           href="/User/Index" role="button">
                                            @{ if (User.Identity.Name.Length <= 12)
                                                {
                                                    @User.Identity.Name
                                                }
                                                else
                                                {
                                                    @User.Identity.Name.Substring(0, 12)
                                                }
                                            }
                                        </a>
                                        <button type="button" class="btn btn-lg btn-success dropdown-toggle dropdown-toggle-split"
                                                data-bs-toggle="dropdown" aria-expanded="false" style="    margin-left: -5px;
                                                height: 37px;
                                                border-radius: 0px 5px 5px 0px;">
                                            <span class="visually-hidden">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown1">
                                            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">Yeni bir özellik öner?</a></li>
                                            <li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">Kısayollar ve SSS.</button></li>   @*  //TODO: kısayollar ve sss sayfası oluşturulacak.*@
                                            <li><a class="dropdown-item" href="/Home/Contact">İletişim</a></li>
                                            <li>
                                                <hr class="dropdown-divider" />
                                            </li>
                                            <li><a class="dropdown-item" href="/Home/Logout">Çıkış Yap</a></li>
                                        </ul>
                                    </li>

                                }
                            }
                        </ul>
                    </nav>
                </nav>
            </div>
        </div>
    </div>
    @Html.Action("Shortcuts", "Home")
    @Html.Action("SuggestNewFeature", "Home")
    <main class="container-fluid">
        @RenderBody()
    </main>

    <footer>
        <!--start Footer-->
        <div class="footer bg-dark text-align">
            <div class="row text-align gx-0">
                <div class="col-sm-12 text-center" style="margin-top:-23px;margin-bottom:20px">
                    <a href="https://www.linkedin.com/in/ali-teke%C5%9F-b23aba247/" title="Linkedin" target="_blank ">
                        <i class="fa fa-linkedin height=10px mx-3" style="color: blanchedalmond;"></i>
                    </a>
                    <a href="https://github.com/alitekes1" title="Projenin kodlarına buradan ulaşabilirsiniz." target="_blank">
                        <i class="fa fa-github mx-3"
                           style="color: antiquewhite;"></i>
                    </a>
                </div>
            </div>
            <div class="row gx-0">
                <div class="col-sm-3">

                </div>
                <div class="col-sm-6  text-align">
                    <ul>
                        <div class="row gx-0 text-align">
                            <div class="col-sm-3">
                        <li><a href="http://alitekes.com.tr">Ben,Kendim</a></li>
                </div>
                <div class="col-sm-3">
                    <li><a href="#">Proje Detayları</a></li>
                </div>
                <div class="col-sm-3">
                    <li><a href="#">Yeni bir özellik öner?</a></li>
                </div>
                <div class="col-sm-3">
                    <li><a href="/Home/Contact">İletişim</a></li>
                </div>
            </div>
            </ul>
        </div>
        <div class="col-sm-3">

        </div>
    </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous">

    </script>

</body>
</html>
